@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout1";
}
@model SelectList
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <style>
        body {
            background-image: url("https://tse3.mm.bing.net/th?id=OIP.zKZE5ragNQSvnQqX4XeeaQHaEo&pid=Api&P=0&h=220");
            background-repeat: no-repeat;
            background-size: cover;
        }

        h1 {
            text-align: center;
            margin-top: 4%;
        }
        .form-select{
            width:800px;
            height:40px;
            margin-left:20%;
        }
        button{
            margin-left: 20%;
        }
    </style>
</head>
<body>
<h1>Find Distenation  </h1>

<select class="form-select"  asp-items="@Model" onchange="GetStation(this.value)">
 

</select>


<div class="container">
    <br />
    <div id="Station" class="row justify-content-center">
        @foreach (var t in ViewBag.AllTrips)
        {
            <div class="card mb-3" style="max-width:800px; height:200px">
                <div class="row g-0">
                    <div class="col-md-6 bg-light">
                        <img src="~/images/@t.image" class="img-fluid rounded-start" alt="..." style="width:400px;height:200px">
                    </div>
                    <div class="col-md-6 bg-light">
                        <div class="card-body" style="width:400px;height:200px">
                            <h5 class="card-title"><i class="fas fa-map-marker-alt"></i> Trip to: @t.Name</h5>
                            <p class="card-text"><i class="fas fa-info-circle"></i> @t.Status</p>
                            <p class="card-text"><i class="fas fa-chair"></i> Available Seats: @t.Available_Seats</p>
                            <p class="card-text"><small class="text-muted">Hurry up and book the package</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-primary text-light" style="width: 18rem;height:200px">
                <div class="card-body">
                    <p class="card-title"><i class="far fa-calendar-alt"></i> Date: @t.Departure_Date</p>
                    <p class="card-title"><i class="fas fa-money-bill"></i> Price: @t.Price</p>
                    <p class="card-title"><i class="far fa-user"></i> Per Person</p>

                    <a class="btn btn-outline-light" href="~/Tickets/GetTrip/@t.Id">Book Now!</a>
                </div>
            </div>
       
        }
    </div>
</div>
    <button onclick="window.location.href='http://localhost:5199/'" class="btn btn-outline-primary"> Back</button>
</body>
@section Station{
        
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Stations.js"></script>
}