
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Trip>

@foreach(var t in Model)
{
    <div class="col m-2 d-flex justify-content-center align-items-center">
        <div class="card mb-3" style="max-width: 540px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/assets/images/04.jpg" class="img-fluid rounded-start" style="height: 200px; width: 100%; object-fit: cover;" alt="Trip Image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@t.Name</h5>
                        <p class="card-text"><strong>Location:</strong> @t.Location</p>
                        <p class="card-text"><strong>Status:</strong> @t.Status</p>
                        <p class="card-text"><strong>Total Seats:</strong></p>
                        <p class="card-text"><strong>Available Seats:</strong> @t.Available_Seats</p>
                        <p class="card-text"><strong>Price:</strong> $@t.Price</p>
                        <p class="card-text"><strong>Arrival Time:</strong> @t.Arrival_Time</p>
                        <p class="card-text"><strong>Departure Date:</strong> @t.Departure_Date</p>
                        <a class="btn btn-success" href="~/Tickets/GetTrip/@t.Id">Book Now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

}